*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    background-color: oklch(0% 0 0);
    color:oklch(88.282% 0.18104 94.468);
    font-family: sans-serif;
}
.topbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: oklch(44.96% 0.20169 261.585 / 0.595);
    border-radius:0 0 10px 10px;
}
.objekteven2{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}
.objektodd2{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: oklch(44.96% 0.20169 261.585 / 0.595);
    padding-left: 20px;
    border-radius: 10px;
}
.objektfocus2{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: oklch(86.668% 0.29289 142.716 / 0.595);
    padding-left: 20px;
    border-radius: 10px;
}
.line{
    height: 1px;
    width: 100%;
    background-color: oklch(88.282% 0.18104 94.468);
}
.shift-form{
    border-top: 1px solid oklch(88.282% 0.18104 94.468);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid oklch(88.282% 0.18104 94.468);
    margin-bottom: 10px;
}